HTML,
body {
  margin: 0;
  padding: 0;
  padding-top: 5vh;
  border: 0;
  background-color: rgb(104, 104, 104);
}

body {
  width: 40vw;
  min-width: 300px;
  margin: auto;
}

.title {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  background-color: orange;
  color: rgb(255, 255, 255);
  font-size: 7vh;
  line-height: 10vh;
  border-radius: 2vh;
  margin-top: 0;
  height: 10vh;
  width: 100%;
  text-align: center;
  margin: auto;
  border: 0.4vh solid rgb(255, 255, 255);
  min-width: 200px;
  padding: 1.5vh;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link {
  margin-top: 1vh;
  height: 7vh;
  width: 100%;
  text-align: center;
  border: 0.4vh solid rgb(255, 255, 255);
  padding: 1.5vh;
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 5vh;
  border-radius: 2vh;
  display: block;
  text-decoration: none;
}

.link:active {
  width: 80%;
  margin: auto;
  margin-top: 1vh;
}

.diceRoller {
  margin-top: 3vh;
  background-color: rgb(190, 0, 190);
}

.diceRoller:hover {
  background-color: rgb(76, 0, 76);
}

.diceRoller:active {
  margin-top: 3vh;
}

.randomColor {
  background-color: rgb(0, 149, 199);
}

.randomColor:hover {
  background-color: rgb(0, 64, 85);
}
